.footer{
  a.item{
    &:hover{
      i{
        transform: translateX(3px);
      }
    }
  }
  .item{
    display: block;
    text-decoration: none;
    color: inherit;
    padding-left: 60px;
    position: relative;
    &.phone{
      a{
        display: block;
        pointer-events: none;
      }
    }
    img{
      position: absolute;
      top: 3px;
      left: 0;
      max-width: 44px;
      max-height: 36px;
    }
    span{
      color: $white;
      line-height: 1;
      strong{
        display: block;
      }
      i{
        position: relative;
        transition: all 0.2s ease;
      }
    }
  }
  ul{
    margin-bottom: 0;
    padding: 10px 0;
    li{
      display: inline;
      margin-right: $spacer;
      color: $white;
      opacity: 0.4;
      font-weight: 400;
      &:hover{
        opacity: 1;
      }
      a{
        color: $white !important;
      }
    }
  }
  .btn{
    min-width: 250px;
    border-color: $blue !important;
    color: $white !important;
    font-weight: 400;
    &:hover{
      i{
        color: $white !important;
      }
    }
    i{
      color: $blue !important;
    }
  }
  #block-menu-block-3{
    display: none;

    & > .content > ul > li {
      width: 31%;
    }

    ul{
      display: flex;
      flex-wrap: wrap;

      & > li{
        padding-left: 0;
        opacity: 0.9;
        &:hover{
          background-color: transparent;
        }
        a{
          font-weight: 700;
          font-size: 1.1rem;
          &:hover{
            color: $green !important;
          }
        }
        ul{
          li{
            opacity: 0.8;
            a{
              font-weight: 400;
              font-size: .95rem;
            }
          }
        }
      }
    }
  }

  #footer-explore-menu-toggle{
    &.explore-open {
      .fal,.fa-bars::before {
        content: '\f00d';
        color: $white;
      }
    }
  }
}
