.tabs.primary {
  border: none;
  @extend .nav;
  @extend .nav-pills;

  li {
    @extend .nav-item;
    margin-right: 0;

    a {
      @extend .nav-link;
      padding: .5rem .75rem;
      border: none;
      background-color: transparent;
    }
  }
}

.block.block-workbench.contextual-links-region{
  margin-top: .5rem;

  .content{
    .workbench-info-block{
      padding: 1rem 1rem;
      line-height: 2;
    }
  }
}

.block.block-system{
  padding: 1rem 1rem;
}

.system-alert {
  .messages {
    background-image: none;
    border: none;
    border-radius: 0;
    margin: 0;
    @extend .alert;

    ul {
      @extend .container;
    }
  }
  .error {
    @extend .alert-danger;
  }

  .status {
    @extend .alert-success;
  }

  .warning {
    @extend .alert-warning;
  }
}
